/* 网页的[导航栏] 的 动画 */
/* （navigationBar中的动画） */


/* [这是什么？]按钮的 box */
/* [当鼠标移出时] */
#navigationBar .whatIsIt .rect{
    /* 过渡 */
    transition: transform 0.1s,filter 0.1s;
    /* 变换 */
    transform: scale(1) translate(0px,0px);
    /* 滤镜 */
    filter: none;
}
/* [当鼠标进入时] */
#navigationBar .whatIsIt:hover .rect{
    /* 变换 */
    transform: scale(1) translate(0px,5px);
    /* 滤镜 */
    filter: brightness(80%);
}
/* [当鼠标点击时] */
#navigationBar .whatIsIt:active .rect{
    /* 变换 */
    transform: scale(0.75) translate(0px,10px);
}

/* [这是什么？]按钮的 文字 */
/* [当鼠标移出时] */
#navigationBar .whatIsIt .text{
    /* 过渡 */
    transition: transform 0.1s;
    /* 变换 */
    transform: translate(0px,0px);
}
/* [当鼠标进入时] */
#navigationBar .whatIsIt:hover .text{
    /* 变换 */
    transform: translate(0px,-5px);
}



/* [下载]按钮的 box */
/* [当鼠标移出时] */
#navigationBar .download .rect{
    /* 过渡 */
    transition: transform 0.1s,filter 0.1s;
    /* 变换 */
    transform: scale(1) translate(0px,0px);
    /* 滤镜 */
    filter: none;
}
/* [当鼠标进入时] */
#navigationBar .download:hover .rect{
    /* 变换 */
    transform: scale(1) translate(0px,6px);
    /* 滤镜 */
    filter: brightness(80%);
}
/* [当鼠标点击时] */
#navigationBar .download:active .rect{
    /* 变换 */
    transform: scale(0.75) translate(0px,6px);
}

/* [其他]按钮的 box */
/* [当鼠标移出时] */
#navigationBar .other .rect{
    /* 过渡 */
    transition: transform 0.1s,filter 0.1s;
    /* 变换 */
    transform: scale(1) translate(0px,0px);
    /* 滤镜 */
    filter: none;
}
/* [当鼠标进入时] */
#navigationBar .other:hover .rect{
    /* 变换 */
    transform: scale(1) translate(0px,6px);
    /* 滤镜 */
    filter: brightness(80%);
}
/* [当鼠标点击时] */
#navigationBar .other:active .rect{
    /* 变换 */
    transform: scale(0.75) translate(0px,6px);
}


